{% extends "base.html" %}

{% block page_title %}Login{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal" method='POST'>
            <h3>Social login <span class="small"><a href="{% url 'users:register' %}">Complete your data</a></span></h3>
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-warning">{{ error }}</div>
            {% endfor %}
            {{ form.as_p }}
            <br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Log in" />
            </div>
        </form>
    </div>
{% endblock %}
