{% extends "base.html" %}

{% block page_title %}Login{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <form class="form custom-form" method='POST'>
            <h3>Social register</h3>
            <hr/>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br/>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block" value="Registrarme" />
            </div>
        </form>
    </div>
{% endblock %}
