<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Activa tu cuenta para - &lt;{{ site }}&gt;</title>
    </head>
    <body>
        <div>
            <p>Por favor confirma tu dirección de email dando click en el siguiente enlace:
            <a href="http://{{ site }}/user/activate/{{ activation_code }}">http://{{ site }}/user/activate/{{ activation_code }}</a></p>
            <p>Si tienes problemas con el enlace, copialo y pegalo en la barra de direcciones de tu navegador</p>
        </div>
    </body>
</html>
